#!/usr/bin/env bash

dotenv_if_exists

# Only create a python venv is python is locally installed with asdf cmd direnv set _python _version_
if [[ -r .tool-versions ]] && grep "^python" .tool-versions; then
	layout uv
fi
